*{
    box-sizing: border-box;
    
}

body {
    background-color: ivory;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.bg-primary{
    background-color: #b0d6b2;
    opacity: 0.5;
}
.col-sm-2{
    padding:10px;
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
